.card-grid {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 0 1.25rem 0;
}

.card-grid:last-child {
    flex-grow: 100;
}

.card-grid .card {
    margin: 1.25rem 0;
}

.dummy-card {
    width: 350px;
    height: 125px;
    background: transparent;
    display: block;
}

@media (max-width: 950px){
    .dummy-card {
        display: none;
    }
}

@media (max-width: 1200px){
    .card-grid {
        justify-content: space-evenly;
    } 
}


@media (max-width: 800px){
    .card-grid {
        flex-direction: column;
        align-items: center;
    } 
}