.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: .75rem 1.25rem;
    align-items: center;
}

.header__logo {
    width: 50%;
    max-width: 275px;
    height: auto;
    margin: 1rem 0;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    width: 400px;
    display: auto;
    position: relative;
    padding: .75rem .75rem;
}

.header__nav-selection {
    position: absolute;
    top: 0; 
    left: 0;
    width: 25%;
    height: 100%;
    background: black;
    transition: 150ms;
}

.header__nav-item {
    /* margin-left: 2.5rem; */
    font-size: 1.35rem;
    font-weight: 100;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.header__nav-item--selected {
    /* margin-left: 2.5rem; */
    font-size: 1.35rem;
    font-weight: 100;
    cursor: pointer;
    text-decoration: none;
    color: white;
    z-index: 10;
}

.header__burger-wrapper {
    position: relative;
    display: none;
    margin-right: 1rem;
}

@media (max-width: 950px){
    .header {
        box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);
        padding: 0rem 1rem;
    }

    .header__logo {
        width: 50%;
        max-width: 225px;
        height: auto;
        margin: .5rem 0;
    }
    
    .header {
        box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);
    }

    .header__nav {
        display: none;
    }

    .header__burger-wrapper {
        display: block;
    }
    
}

@media (max-width: 425px){
    .header {
        padding: 0rem 1rem;
    }

    .header__logo {
        width: 60%;
        max-width: 225px;
        height: auto;
        margin: 1rem 0;
    }
}

